{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="carousel slide" id="carousel-372919">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-372919">
					</li>
					<li data-slide-to="1" data-target="#carousel-372919">
					</li>
					<li data-slide-to="2" data-target="#carousel-372919">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="" src="{{ url_for('static', filename='image/1.png') }}" />
						<div class="carousel-caption">
							<h4>
								真人CS
							</h4>
							<p>
                                下场来一次紧张刺激的真人对抗吧
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="{{ url_for('static', filename='image/2.png') }}" />
						<div class="carousel-caption">
							<h4>
								实弹射击
							</h4>
							<p>
								跟社团的伙伴一起去北方来一次难忘的实弹射击
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="{{ url_for('static', filename='image/3.png') }}" />
						<div class="carousel-caption">
							<h4>
								国防知识竞赛
							</h4>
							<p>
								展现自己国防知识的舞台
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-372919" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-372919" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
	</div>
</div>
			<div class="alert alert-success alert-dismissable">
				 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				<h4>
                    {% with messages = get_flashed_messages() %}
                {% if messages %}

                    <ul class=flashes>
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                    </ul>
                                {% endif %}
                    {% endwith %}
					立即注册！
				</h4>  点击此处完成注册 <a href= "{{ url_for('register_page') }}" class="alert-link">点我注册</a>


			</div>
		</div>
	</div>
</div>
{% endblock %}