{% extends "base.html" %}
{% block content %}
    <div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3 class="text-center">
				已报名社员人数统计
			</h3>

			<p class="text-center">
                <strong>已报名 {{ count }}人 </strong>
			</p>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>
							学号
						</th>
						<th>
							性别
						</th>
						<th>
                            姓名
						</th>
						<th>
							学院
						</th>
                        <th>
                            联系方式
                        </th>
                        <th>
                            政治面貌
                        </th>
                        <th>
                            微信
                        </th>
                        <th>
                            QQ
                        </th>
                        <th>
                            电子邮件
                        </th>
                        <th>
                            生日
                        </th>
					</tr>
				</thead>
				<tbody>
                {% for i in list %}
					<tr>
						<td>
							 {{ i.student_id }}
						</td>
						<td>
							 {{ i.member_sex }}
						</td>
						<td>
                             {{ i.member_name }}
						</td>
						<td>
							 {{ i.member_college }}
						</td>
                        <td>
                             {{ i.member_telephone }}
                        </td>
                        <td>
                             {{ i.member_political_status }}
                        </td>
                        <td>
                            {{ i.member_WeChat }}
                        </td>
                        <td>
                            {{ i.member_QQ }}
                        </td>
                        <td>
                            {{ i.member_email }}
                        </td>
                        <td>
                            {{ i.member_birthday }}
                        </td>
					</tr>

                {% endfor %}
				</tbody>
			</table>
        <strong>返回首页</strong> <a href="{{ url_for("page_index") }}" class="alert-link">返回首页</a>
		</div>
	</div>
</div>
{% endblock %}